{% extends "appbuilder/base.html" %}


{% block head_js %}
    {{ super() }}
    <script src="{{url_for('static',filename='bower_components/angular/angular.min.js')}}"></script>
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1>{{_("Validus Case Studies")}}</h1>
        <p>Region : {{_(region)}}</p>
    </div>
</div>

{% endblock %}
